{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": [2, "always"],
    "no-unused-vars": 0,
    "max-len": [1, 120, 2, { ignoreComments: true }],
    "import/no-unresolved": [0],
    "import/no-absolute-path": [0]
  }
}
